*{
    color: white;
    overflow-x: hidden;
    /* box-sizing: border-box; */
}
.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "main side";
}
.main {
    background: #121212;
    grid-area: main;
}

.main, .side {
    padding: 2%;
    margin: 2vw;
    border-radius: 10px
}

.side {
    background: #282828;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: side;
}
.lead-heading{
    color: #a688fa;
    font-weight: 700;
    font-size: 2.2rem;
}

@media(max-width: 431px){
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: "side" "main";
    }
}
.home-body{
    background-color:#121212;
}




.search-icon{
    /* background-color: black; */
    color: black;
}


.input-box {
    position: relative;
    height: 40px;
    max-width: 900px;
    width: 100%;
    background: #282828;
    border-radius: 8px;
    overflow-y: hidden;
}
.input-box i,
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box input {
    height: 40px;
    width: 400px;
    padding-left: 0;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 20px;
    /* color: black; */
    background-color: transparent;
}
.input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #282828;
    cursor: pointer;
}
.input-box .button.clicked {
    transform: translateY(-50%) scale(0.98);
}


.course-card{
    background-color: #282828;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor:default;
    transition: all 0.3s ease;
}





.card-grid {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    cursor: default;
}

.card-button{
    background-color: #a688fa;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}







.form-box{
    height: 100%px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-input{
    height: 20px;
    width: 80%;
    background-color: #3f3f3f;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    border: none;
    color: white;
    font-size: 18px;
    outline: none;
}


.anonym-image{
    height: 40px;
}
.anonym-button{
    background-color: #a688fa;
    border-radius: 10px;
    margin-bottom: 0px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    display: flex;
}
.anonym-button:active {
    background-color: #7a5af5;
}
.form-sem-dropdown{
    height: 40px;
    width: 35%;
    background-color: #3f3f3f;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 0;
    border: none;
    color: white;
    font-size: 18px;
    outline: none;
}

.form-course-dropdown{
    height: 40px;
    width: 83%;
    background-color: #3f3f3f;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    border: none;
    color: white;
    font-size: 18px;
    outline: none;
}
.sem-year{
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 10px 0;
}
.form-textarea {
    background-color: #3f3f3f;
    width: 80%;
    height: 100px;
    max-height: 150px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    resize: vertical;
}

.review-button{
    background-color: #a688fa;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    height: 50px;
    width: 30%;
}